 /* root */
 @font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter/Inter-Regular.eot');
   src: url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
     url('../fonts/Inter/Inter-Regular.woff') format('woff'),
     url('../fonts/Inter/Inter-Regular.ttf') format('truetype'),
     url('../fonts/Inter/Inter-Regular.svg#Inter-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: 'Besley';
   src: url('../fonts/Besley/Besley-Regular.eot');
   src: url('../fonts/Besley/Besley-Regular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Besley/Besley-Regular.woff2') format('woff2'),
     url('../fonts/Besley/Besley-Regular.woff') format('woff'),
     url('../fonts/Besley/Besley-Regular.ttf') format('truetype'),
     url('../fonts/Besley/Besley-Regular.svg#Inter-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: 'Instrument Serif';
   src: url('../fonts//InstrumentSerif/InstrumentSerif-Italic.eot');
   src: url('../fonts//InstrumentSerif/InstrumentSerif-Italic.eot?#iefix') format('embedded-opentype'),
     url('../fonts//InstrumentSerif/InstrumentSerif-Italic.woff2') format('woff2'),
     url('../fonts//InstrumentSerif/InstrumentSerif-Italic.woff') format('woff'),
     url('../fonts//InstrumentSerif/InstrumentSerif-Italic.ttf') format('truetype'),
     url('../fonts//InstrumentSerif/InstrumentSerif-Italic.svg#InstrumentSerif-Italic') format('svg');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
 }



 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .container {
   width: 100%;
   max-width: 1200px;
   /* padding: 0 15px; */
   margin: 0 auto;
 }

 body {
   font-family: inter;
 }

 a {
   text-decoration: none;
   color: black;
 }

 li {
   list-style-type: none;
 }

 h2 {
   font-size: 64px;
   font-weight: 500;
   letter-spacing: -0.06em;
   line-height: 70.4px;
 }

 h3 {
   font-size: 48px;
   font-weight: 500;
   letter-spacing: -.06em;
   line-height: 62.4px;
 }

 h4 {
   font-size: 40px;
   font-weight: 500;
   letter-spacing: -2.4px;
   line-height: 52px;
 }

 h5 {
   font-size: 32px;
   font-weight: 500;
   letter-spacing: -.05em;
   line-height: 41.6px;
 }

 h6 {
   font-size: 24px;
   font-weight: 500;
   letter-spacing: -1.2px;
   line-height: 36px;
 }

 .h6 {
   font-size: 20px;
   font-weight: 500;
   letter-spacing: -.05em;
   line-height: 30px;
 }

 p {
   font-size: 18px;
   font-weight: 400;
   letter-spacing: -0.72px;
   line-height: 27px;
 }

 .copy-lg {
   font-size: 16px;
   font-weight: 400;
   letter-spacing: -0.64px;
   line-height: 24px;
   color: #0000008F;
 }

 .copy-md {
   font-size: 14px;
   font-weight: 500;
   letter-spacing: -0.56px;
   line-height: 21px;
 }

 .copy-sm {
   font-size: 12px;
   font-weight: 400;
   letter-spacing: -0.48px;
   line-height: 18px;
 }

 /* root */

 /* main-button */
 .link-block {
   display: flex;
   align-items: center;
   background: rgb(239 234 229);
   padding: 0 58px 0 24px;
   border-radius: 100px;
   height: 44px;
   width: fit-content;
   position: relative;
   cursor: pointer;
 }

 .link-block a {
   letter-spacing: -0.64px;
   line-height: 24px;
   font-weight: 500;
   z-index: 99;
 }

 .link-block .img-block {
   background-color: #ffff;
   border-radius: 100px;
   height: 40px;
   width: 40px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: absolute;
   right: 2px;
   padding-right: 12px;
   z-index: 0;
   transition: width 0.4s;
 }

 .link-block img {
   width: 16px;
   height: 16px;
 }

 .link-block:hover .img-block {
   width: 97%;
   transition: 0.4s;
 }

 /* main-button */

 /* header block */



 header {
   position: fixed;
   z-index: 2;
   width: 100%;
   max-width: 100%;
   top: 0;
   padding: 24px 0;
   transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
 }

 header.blur-effect {
   backdrop-filter: blur(8px);
   background-color: rgba(0, 0, 0, 0);
   mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
   -webkit-mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
 }

 header .header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 header .header-wrapper .link-icon img {
   width: 92px;
 }

 header .header-wrapper nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 header .header-wrapper nav ul li {
   cursor: pointer;
 }

 header .header-wrapper nav ul li:not(:last-child) {
   padding: 8px 14px;
 }

 header .header-wrapper ul.icon-ul {
   gap: 8px;
 }

 header .header-wrapper ul.icon-ul li {
   padding: 0 !important;
 }

 header .header-wrapper nav ul li:hover {
   background-color: #DED4CA;
   border-radius: 8px;
   transition: 0.4s;
 }

 header .header-wrapper nav ul li .menu-img img {
   width: 20px;
   height: 20px;
 }

 .search-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   /* light black */
   z-index: 999;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.4s ease;
 }

 .search-box {
   position: fixed;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1000;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.4s ease, transform 0.4s ease;
   padding: 12px 20px;
   background: rgb(255, 255, 255);
   box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px 0px;
   height: 55px;
   border-radius: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 26.3%;
 }

 .search-box input {
   padding: 10px 20px;
   font-size: 16px;
   width: 100%;
   border: none;
   outline: none;
   border-radius: 8px;
 }

 /* Show state */
 .search-overlay.active {
   opacity: 1;
   visibility: visible;
 }

 .search-box.active {
   opacity: 1;
   visibility: visible;
   transform: translateX(-50%) translateY(0);
 }


 .burger-menu {
   cursor: pointer;
   position: fixed;
   right: 20px;
   display: none;
 }

 .bar {
   transition: 0.4s;

 }

 .bar-1 {
   display: block;
   width: 31px;
   border-top: 2px solid rgb(0, 0, 0);
   padding-top: 6px;
   cursor: pointer;
   transition: 0.4s;
 }

 .bar-2 {
   display: block;
   width: 31px;
   border-top: 2px solid rgb(5, 0, 0);
   padding-top: 5px;
   display: fixed;
   transition: 0.4s;
 }

 .bar-3 {
   display: block;
   width: 31px;
   border-top: 2px solid rgb(3, 0, 0);
   padding-top: 5px;
   transition: 0.4s;

 }

 .change .bar-1 {

   -webkit-transform: rotate(45deg) translate(0px, 8px);
   transform: rotate(45deg) translate(0px, 8px);
 }

 .change .bar-2 {
   opacity: 0;
 }

 .change .bar-3 {
   -webkit-transform: rotate(-45deg) translate(3px, -7px);
   transform: rotate(-45deg) translate(5px, -8px);
 }

 /* header block */

 .main {
   position: relative;
   z-index: 1;
   background-color: white;
 }

 /* hero block */
 .hero {
   padding: 160px 64px;
   background-color: #c5b3a4;
   position: sticky;
   top: 0;
   z-index: 0;
 }

 .hero .hero-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .hero .hero-wrapper .left-block {
   width: 100%;
   max-width: 44.07%;
   position: relative;
   z-index: 2;
 }

 .hero .hero-wrapper .left-block p:first-child {
   background-color: #a1806e;
   border-radius: 50px;
.hero .hero-wrapper .left-block p:first-child
   color: #fff;
   width: fit-content;
 }

 .hero .hero-wrapper .left-block .h6 {
   color: #0000008f;
   padding-bottom: 32px;
 }

 .hero .hero-wrapper .left-block h2 {
   padding: 24px 0 16px;
 }

 .hero .hero-wrapper .left-block h2 span {
   color: #0000008f;
 }

 .hero .hero-wrapper .right-block {
   width: 100%;
   max-width: 61.8%;
   height: 100%;
   position: absolute;
   right: 0;
   mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) add;

 }

 .hero .hero-wrapper .right-block video {
   cursor: auto;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 /* hero block */
 /* presence block */

 .presence {
   padding: 160px 0;
   text-align: center;
   background: rgb(239, 234, 229);
 }

 .presence .presence-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .presence .presence-wrapper h3 {
   width: 100%;
   max-width: 93%;
   margin: 24px 0;
 }

 .presence .presence-wrapper h3 span {
   color: rgb(0 0 0 / 56%);
 }

 .presence .presence-wrapper .h6 {
   color: rgb(0 0 0 / 56%);
 }

 .presence .presence-wrapper .copy-lg {
   color: rgb(0 0 0 / 56%);
   margin-top: 64px;
 }

 /* presence block */
 /* marquee block */
 .marquee-container {
   overflow: hidden;
   height: 27px;
   max-width: 600px;
   position: relative;
   margin-top: 32px;
   mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
 }

 .marquee {
   display: inline-block;
   animation: marquee 200s linear infinite;
   white-space: nowrap;
 }

 .marquee img {
   width: 159px;
   height: 25px;
   display: inline-block;
 }

 @keyframes marquee {
   0% {
     transform: translateX(0);
     /* Start from the current position */
   }

   /* 50% {
     transform: translateX(-100%);
     /* Halfway point of the scroll */
   /* } */

   100% {
     transform: translateX(-90%);
     /* End point, at least 2 times the image height */
   }
 }

 /* marquee block */

 /* timeless-block */

 .timeless {
   margin: 80px 0;
 }

 .timeless-content {
   text-align: center;
   margin-bottom: 64px;
 }

 .timeless-content p {
   color: rgb(0 0 0 / 56%);
   margin-top: 16px;
 }

 .feature-section {
   display: grid;
   grid-template-columns: 32% 32% 32%;
   gap: 24px;
 }

 .feature-card {
   padding: 32px;
   border-radius: 16px;
   background: rgb(248, 246, 244);
   height: 584px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .feature-card h3 {
   font-size: 49.3367px;
   font-weight: 500;
   letter-spacing: -2.9602px;
   line-height: 54.2704px;
 }

 .hands-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   aspect-ratio: 1 / 1;
 }

 .hand-img {
   max-width: 180px;
   height: auto;
   object-fit: contain;
 }

 .hand-img:first {
   max-width: 215px;

 }

 /* Circle Brand Icons */
 .brand-circle-group {
   position: relative;
   width: 250px;
   height: 250px;
   margin: 2rem auto 8rem;
 }

 .circle-avatar {
   position: absolute;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   object-fit: cover;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .circle-avatar:nth-child(1) {
   transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
 }

 .circle-avatar:nth-child(2) {
   transform: translate(-50%, -50%) rotate(45deg) translate(100px) rotate(-45deg);
 }

 .circle-avatar:nth-child(3) {
   transform: translate(-50%, -50%) rotate(90deg) translate(100px) rotate(-90deg);
 }

 .circle-avatar:nth-child(4) {
   transform: translate(-50%, -50%) rotate(135deg) translate(100px) rotate(-135deg);
 }

 .circle-avatar:nth-child(5) {
   transform: translate(-50%, -50%) rotate(180deg) translate(100px) rotate(-180deg);
 }

 .circle-avatar:nth-child(6) {
   transform: translate(-50%, -50%) rotate(225deg) translate(100px) rotate(-225deg);
 }

 .circle-avatar:nth-child(7) {
   transform: translate(-50%, -50%) rotate(270deg) translate(100px) rotate(-270deg);
 }

 .circle-avatar:nth-child(8) {
   transform: translate(-50%, -50%) rotate(315deg) translate(100px) rotate(-315deg);
 }

 /* Swift Turnaround Image */
 .image-highlight {
   position: relative;
   border-radius: 16px;
   overflow: hidden;
   background: #000;
   height: 420px;

 }

 .image-highlight .image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   -webkit-filter: brightness(.6);
   filter: brightness(.6);
 }

 .image-highlight .overlay-text {
   position: absolute;
   color: #fff;
   font-size: 28px;
   font-weight: 500;
   letter-spacing: -1.4px;
   line-height: 36.4px;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   width: 100%;
 }

 .image-highlight .overlay-text span {
   width: 32px;
   height: 32px;
   margin-right: 10px;
 }

 /* Text + Bottom Cards Layout */
 .text-highlight {
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 24px;
   grid-column: 2 / span 2;
 }

 .text-card {
   background: #f8f6f4;
   border-radius: 16px;
   padding: 32px;
   display: flex;
   align-items: center;
   gap: 5rem;
   height: fit-content;
 }

 .text-card h3 {
   font-size: 2rem;
   line-height: 41.6px;
 }

 .text-card p {
   font-size: 1rem;
   color: #555;
   line-height: 1.6;
   mask: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 94%) add;
   font-family: Besley;
 }

 .text-card p::first-letter {
   initial-letter: 2;
   /* 2 lines high */
   -webkit-initial-letter: 2;
   /* Safari support */
   margin-right: 8px;
   color: #000;
 }

 .feature-card .italic {
   letter-spacing: normal;
   line-height: 480px;
   font-size: 400px;
   font-style: italic;
   font-family: "Instrument serif";
 }

 .bottom-feature-cards {
   display: flex;
   gap: 24px;
   flex: 1;
 }

 .stat-card,
 .image-caption-card {
   flex: 1;
   background: #f8f6f4;
   border-radius: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   position: relative;
   height: 198px;
 }

 .stat-card {
   flex-direction: column;
   padding: 32px;
 }

 .stat-card h1 {
   font-size: 4rem;
   margin-bottom: 8px;
   color: #000;
 }

 .stat-card p {
   font-size: 1.2rem;
   color: #666;
 }

 /* Your existing styles: */
 .image-caption-card .first-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-filter: brightness(.6);
   filter: brightness(.6);
   display: block;
 }

 .image-caption-card .last-img {
   width: 30px;
   height: 43.5px;
   position: absolute;
   transform: translate(50%, -50%);
   top: 67%;
   right: 26%;
 }

 .image-caption-card .overlay-text {
   position: absolute;
   color: #fff;
   border-radius: 8px;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   width: 65%;
   text-align: center;
   font-size: 28px;
   font-weight: 500;
   letter-spacing: -1.4px;
   line-height: 36.4px;
   border: 2px solid rgb(255 255 255 / 24%);
   display: inline-block;
 }

 /* Now add the four dots */
 .image-caption-card .overlay-text::before,
 .image-caption-card .overlay-text::after {
   content: '';
   position: absolute;
   width: 8px;
   height: 8px;
   background-color: white;
   border-radius: 50%;
 }

 .image-caption-card .overlay-text::before {
   top: -6px;
   left: -6px;
 }

 .image-caption-card .overlay-text::after {
   top: -6px;
   right: -6px;
 }

 /* Use extra pseudo-elements for bottom dots */
 .image-caption-card .overlay-text span::before,
 .image-caption-card .overlay-text span::after {
   content: '';
   position: absolute;
   width: 8px;
   height: 8px;
   background-color: white;
   border-radius: 50%;
 }

 .image-caption-card .overlay-text span::before {
   bottom: -6px;
   left: -6px;
 }

 .image-caption-card .overlay-text span::after {
   bottom: -6px;
   right: -6px;
 }

 /* timeless-block */

 /* .services block */
 .services {
   padding: 80px 0;
   text-align: center;
 }

 .services h4 {
   margin-bottom: 16px;
 }

 .cards-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: left;
   margin-top: 64px;
 }

 .card {
   background: rgb(248, 246, 244);
   border-radius: 16px;
   padding: 32px;
   width: 100%;
   max-width: 32.6%;

 }

 .card .image-block {
   background: rgb(161, 128, 110);
   border-radius: 80px;
   width: 64px;
   height: 64px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .card .image-block img {
   width: 32px;
   height: 32px;
 }

 .content-block {
   margin-top: 50px;
 }

 .services .cards-wrapper .card .content-block .copy-lg {
   color: rgb(0 0 0 / 56%);
   margin-top: 16px;
 }


 /* .services block */

 /* .beyond block */
 .beyond {
   text-align: center;
   padding: 80px 0px;
 }

 .beyond h4 {
   margin-bottom: 16px;
   line-height: 27px;
 }

 .beyond p:nth-child(2) {
   color: rgb(0 0 0 / 56%);
 }

 .beyond .card {
   background: transparent;
   text-align: center;
 }

 .beyond .card .image-block {
   background: transparent;
   display: inline;
 }

 .beyond .card .image-block img {
   width: 48px;
   height: 48px;
 }

 .beyond .card .content-block {
   margin-top: 24px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .beyond .card .content-block p:first-child {
   font-weight: 500;
 }

 .beyond .card .content-block p.copy-lg {
   margin-top: 16px;
   width: 85.5%;
   color: rgb(0 0 0 / 56%);
 }

 /* beyond block */

 /* work block */
 .work {
   padding: 80px 0px;
 }

 .work .work-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }

 .work .work-wrapper p {
   margin: 16px 0 32px;
   color: rgb(0 0 0 / 56%);

 }

 .work-cards {
   display: flex;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap;
   gap: 48px;
   margin-top: 64px;
 }

 .work-cards .cards-block {
   width: 100%;
   max-width: 48%;
   cursor: pointer;
 }

 .cards-block {
   position: relative;
   overflow: hidden;
 }


 .work-cards .arrow-icon {
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0;
   transform: translate(0%, -100%) rotate(0deg);
   transition: all 0.5s ease-in-out;
   z-index: 2;
   width: 24px;
   height: 24px;
   right: 16px;
 }

 .work-cards .cards-block:hover .arrow-icon {
   opacity: 1;
   transform: translate(0%, 56%) rotate(-45deg);
 }

 .work-cards .cards-block .img-block {
   border-radius: 16px;
   overflow: hidden;
 }

 .work-cards .cards-block .img-block img {
   width: 100%;
   height: 384px;
   border-radius: 16px;
   object-fit: cover;
   transition: transform 0.6s ease-in-out;
 }

 .work-cards .cards-block .img-block img:hover {
   transform: scale(1.1);
 }

 .work-cards .cards-block .content-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 16px;
 }

 .work-cards .cards-block .content-block p.copy-md {
   background: rgb(161, 128, 110);
   padding: 4px 12px;
   border-radius: 50px;
   color: #fff;
   width: fit-content;
 }

 .work-cards .cards-block .content-block .text-block p {
   margin: 4px 0 0;
 }

 .work-cards .cards-block .content-block .text-block p.copy-lg {
   color: rgb(0 0 0 / 56%);
 }

 /* work block */

 /* .slider-block */

 .slider-block {
   background-color: #f4f0ec;
   padding: 60px 0;
   font-family: 'Inter', sans-serif;
 }

 .slider-block .slider-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 48px;
   max-width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 .slider-block .slider-container .left-block {
   width: 100%;
   max-width: 50%;
 }

 .slider-block .slider-container .text-slide {
   display: none;
 }

 .slider-block .slider-container .text-slide.active {
   display: block;
 }

 .slider-block .slider-container .text-slide h3 {
   font-weight: 500;
   margin-bottom: 48px;
 }


 .slider-block .slider-container .review-meta img {
   height: 20px;
   margin-bottom: 12px;
 }

 .slider-block .slider-container .copy-lg {
   color: #666;
 }

 .slider-block .slider-container .image-slider {
   display: flex;
   transition: transform 0.6s ease;
   width: 100%;
   /* Ensure it takes up the full width of the right-block */
 }

 .slider-block .slider-container .slide-img {
   width: 100%;
   height: 750px;
   object-fit: cover;
   object-position: 50% 10%;
   border-radius: 20px;
   flex-shrink: 0;
 }

 /* Ensure the right-block hides overflow (i.e., the images that are out of view) */
 .slider-block .slider-container .right-block {
   width: 100%;
   max-width: 48%;
   overflow: hidden;
   border-radius: 20px;
   position: relative;
 }

 .slider-block .slider-container .nav {
   background-color: #fff;
   border: none;
   width: 48px;
   height: 48px;
   border-radius: 9999px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
   position: absolute;
   bottom: 0%;
   cursor: pointer;
   transition: opacity 0.3s;
 }

 .slider-block .slider-container .nav:hover {
   background-color: #DED4CA;
 }

 .slider-block .slider-container .nav img {
   width: 24px;
   height: 24px;
 }

 .slider-block .slider-container .nav.prev {
   left: 36%;
   transform: translateX(-100%);
   transform: rotate(180deg);
 }

 .slider-block .slider-container .nav.next {
   right: 59%;
   transform: translateX(100%);
 }

 .slider-block .slider-container .nav:disabled {
   opacity: 0.3;
   pointer-events: none;
 }

 .slider-block .last-block {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .slider-block .last-block p {
   margin: 80px 0 32px;
 }

 /* .slider-block */

 .blog-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: 100%;
 }

 .blog .work-cards {
   gap: 24px;
   margin-top: 48px;
 }

 .blog .work-cards .cards-block {
   max-width: 32%;
 }


 .blog .work-cards .cards-block .img-block img {
   height: 256px;
 }

 .blog .work-cards .cards-block:nth-child(2) .img-block img {
   object-position: 50% 70%;
 }

 .blog .work-cards .cards-block .content-block .text-block p {
   color: #000;
   font-weight: 500;
 }

 .blog .work-cards .cards-block:first-child .content-block p.copy-md {
   background-color: rgb(100, 149, 237);
   color: rgb(255, 255, 255);
   font-size: 12px;
   font-weight: 500;
   letter-spacing: -0.48px;
   line-height: 18px;
 }

 .blog .work-cards .cards-block .content-block p.copy-md {
   background-color: rgb(64, 145, 108);
   color: rgb(255, 255, 255);
   font-size: 12px;
   font-weight: 500;
   letter-spacing: -0.48px;
   line-height: 18px;
 }

 .blog-featured-content {
   width: 100%;
   max-width: 50%;
   height: 500px;
   padding: 24px;
   background: #f8f6f4;
   border-radius: 0 16px 16px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .blog .blog-featured {
   gap: 0px;
 }

 .blog .blog-featured .cards-block {
   max-width: 50% !important;
   border-radius: 16px 0 0 16px;
 }

 .blog .blog-featured .cards-block .img-block {
   border-radius: 0;
 }

 .blog .blog-featured .cards-block .img-block img {
   height: 500px;
   border-radius: 0;
 }

 .badge {
   display: inline-block;
   background-color: rgb(161, 128, 110);
   color: white;
   font-size: 12px;
   padding: 5px 14px;
   border-radius: 15px;
 }

 .blog-featured-content h4 {
   margin: 24px 0 16px;
 }

 .blog-featured-content p {
   color: #555;
 }

 .work .work-wrapper .blog-featured-content p {
   margin: 0;
   color: rgb(0 0 0 / 56%);
 }

 .author {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .author img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
 }

 .author-info {
   display: flex;
 }

 .author-info strong {
   font-size: 16px;
   display: block;
   font-weight: 500;
   letter-spacing: -0.64px;
   line-height: 24px;
 }

 .author-info small {
   display: block;
   font-size: 14px;
   color: rgb(0 0 0 / 56%);
   font-weight: 400;
   letter-spacing: -0.56px;
   line-height: 21px;
 }

 .author p.copy-sm {
   background: rgb(215, 140, 86);
   border-radius: 50px;
   padding: 2px 8px;
   color: rgb(255, 255, 255) !important;
   font-weight: 500;
 }

 /* .faq-block */

 .faq-section {
   max-width: 800px;
   margin: auto;
   padding: 80px 20px;
   text-align: center;
 }

 .faq-section h2 {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 10px;
 }

 .faq-section .subtitle {
   color: #777;
   margin-bottom: 40px;
   font-size: 16px;
 }

 .faq-item {
   text-align: left;
   padding: 24px;
   overflow: hidden;
 }

 .faq-question {
   width: 100%;
   background: none;
   border: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   color: #000;
   transition: background 0.3s;
 }


 .faq-answer {
   max-height: 0;
   overflow: hidden;
   font-size: 16px;
   color: #555;
   transition: max-height 0.5s ease, padding 0.5s ease;
 }

 .faq-answer.open {
   max-height: 200px;
   /* enough for 1-2 lines of text */
 }

 .faq-answer p.copy-lg {
   color: rgb(0 0 0 / 56%);
   margin-top: 16px;
 }

 .arrow {
   width: 46px;
   height: 45px;
   transition: transform 0.3s;
   background: rgb(248, 246, 244);
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .arrow img {
   width: 24px;
   height: 25px;
 }

 .faq-question.active .arrow {
   transform: rotate(180deg);
 }

 /* .faq-block */

 /* .footer block */
 .footer {
   background: rgb(197, 179, 164);
   position: relative;
 }

 .footer .footer-wrapper .brand-block {
   position: relative;
   z-index: 2;
   padding: 80px 0 160px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .footer .footer-wrapper .brand-block h2 {
   width: 100%;
   max-width: 59%;
 }

 .footer .footer-wrapper .brand-block h2 span {
   color: rgb(0 0 0 / 56%);
 }

 .footer .footer-wrapper .brand-block p {
   color: rgb(0 0 0 / 56%);
   padding: 24px 0;
 }

 .footer .footer-wrapper .video-block {
   mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%) intersect, linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
   position: absolute;
   width: 1190px;
   top: 40%;
   transform: translateY(-25%);
 }

 .footer .footer-wrapper .video-block video {
   width: 100%;
 }

 .footer .footer-wrapper .last-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 2;
   padding: 160px 0 80px;
 }

 .footer .footer-wrapper .last-block .left-block img {
   width: 123px;
 }

 .footer .footer-wrapper .last-block .left-block p.copy-lg {
   color: rgb(0 0 0 / 56%);
   letter-spacing: -0.64px;
   line-height: 24px;
   width: 37.3%;
   padding: 24px 0;
 }

 .footer .footer-wrapper .last-block .left-block p.copy-md {
   color: rgb(0 0 0 / 56%);
 }

 .footer .footer-wrapper .last-block .left-block p.copy-md a {
   color: rgb(0, 0, 0);
 }

 .footer .footer-wrapper .last-block .right-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .footer .footer-wrapper .last-block .right-block p {
   color: rgb(0, 0, 0);
   font-weight: 500;
   padding-bottom: 16px;
 }

 .footer .footer-wrapper .last-block .right-block li {
   color: rgb(0 0 0 / 56%);
   padding-bottom: 12px;
 }

 .footer .footer-wrapper .last-block .right-block .first-nav {
   padding-right: 32px;
 }

 /* .footer block */


 .left-block {
   transform: translateY(0px);
   transition: transform 0.5s ease;
   /* slower transition */
   will-change: transform;
 }

 .nav-container {
   transition: opacity 0.5s ease;
   opacity: 1;
 }

 .nav-container.hidden {
   opacity: 0;
   pointer-events: none;
 }



 @media screen and (max-width: 1199px) {
   .container {
     padding: 0 32px;
   }

   h3 {
     font-size: 36px;
     line-height: 46.8px;
   }

   h4 {
     font-size: 36px;
     letter-spacing: -2.16px;
     line-height: 46.8px;
   }

   /* header */
   /* header {
     backdrop-filter: blur(8px);
     background-color: rgba(0, 0, 0, 0);
     mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
     -webkit-mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
   } */

   .hamburger {
     display: block;
     font-size: 28px;
     background: none;
     border: none;
     cursor: pointer;
   }

   nav ul {
     flex-direction: column;
     gap: 8px;
     padding: 20px;
   }

   .header-wrapper {
     justify-content: space-between;
     align-items: center;
   }

   header .header-wrapper nav ul {
     align-items: start;
     padding: 24px;
   }

   header {
     backdrop-filter: blur(8px);
     background: transparent;
     transition: all 0.4s ease;

     /* Mask for gradient effect normally */
     /* mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%); */
     /* -webkit-mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%); */
     padding: 16px 24px
   }

   header .container {
     padding: 0;
   }

   header.menu-open {
     backdrop-filter: none;
     background: white;
     /* mask: none; */
     /* -webkit-mask: none; */
   }

   ul.icon-ul {
     padding: 0 !important;
     display: flex !important;
     flex-direction: row;
     margin-top: 8px;
   }

   ul.icon-ul li:first-child {
     margin-right: 4px;
   }

   .menu {
     display: none;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     background: white;
     z-index: 2;
     padding-top: 40px;
     border-bottom-left-radius: 16px;
     border-bottom-right-radius: 16px;
   }

   header .header-wrapper nav ul li:not(:last-child) {
     padding: 0;
   }

   .burger-menu {
     display: block;
   }

   .nav-container.hidden {
     opacity: 1;
     pointer-events: visible;
   }

   .burger-menu {
     display: block;
     z-index: 3;
   }

   .link-icon {
     z-index: 4;
   }

   /* header */

   /* hero */

   .hero {
     padding: 120px 0;
   }

   .hero .hero-wrapper .left-block {
     max-width: 54.9%;
   }

   /* hero */

   /* presence */
   .presence .presence-wrapper h3 {
     max-width: 73%;
   }

   /* presence */

   /* services */
   .cards-wrapper {
     flex-wrap: wrap;
   }

   .card {
     max-width: 49%;
   }

   .card:last-child {
     max-width: 100%;
     margin-top: 24px;
   }

   /* services */

   /* timeless */
   .feature-section {
     grid-template-columns: 48% 48%;
   }

   .text-highlight {
     grid-column: 1 / span 2;
   }

   .image-caption-card .overlay-text {
     width: max-content;
     padding: 0 4px;
   }

   /* timeless */

   /* .beyond */
   .beyond .cards-wrapper .card {
     max-width: 100%;
   }

   /* .beyond */

   /* work */

   .work-cards .cards-block {
     max-width: 46%;
   }

   .work-cards .cards-block .img-block img {
     aspect-ratio: 1 / 1;
   }

   /* work */

   /* slider-block */
   .slider-block .slider-container .slide-img {
     /* aspect-ratio: 1 / 1;  */
     height: 707px;
   }

   .slider-block .slider-container .nav.prev {
     left: 39%;
   }

   .slider-block .slider-container .nav.next {
     right: 56%;
   }

   /* slider-block */

   /* blog block */
   /* .blog .work-cards .cards-block .img-block img {
     height: 370px;
   } */

   .blog .work-cards .cards-block {
     max-width: 48%;
     aspect-ratio: 1 / 1;
   }

   .hands-wrapper {
     justify-content: space-between;
   }

   .feature-card:first-child {
     padding: 0;
   }

   .feature-card h3 {
     padding: 32px;
   }

   .image-highlight {
     height: 580px;
   }

   /* blog block */

   /* faqs block */
   .faq-section {
     padding: 80px 0px;
   }

   .faq-item {
     padding: 24px 0;
   }

   /* faqs block */

   .footer .footer-wrapper .video-block {
     width: 100%;
     left: 0;
     right: 0;
     transform: translateY(-46%);
   }

 }

 @media screen and (max-width: 810px) {
   .container {
     padding: 0 24px;
   }

   h2 {
     font-size: 48px;
     font-weight: 500;
     letter-spacing: -2.88px;
     line-height: 52.8px;
   }

   h3 {
     font-size: 32px;
     line-height: 41.6px;
     letter-spacing: -1.92px;
   }

   h4 {
     font-size: 32px;
     letter-spacing: -1.92px;
     line-height: 41.6px;
   }

   /* .hero */
   .hero .hero-wrapper {
     display: block;
   }

   .hero .hero-wrapper .left-block {
     max-width: 100%;
   }

   .hero .hero-wrapper .right-block {
     max-width: 100%;
     aspect-ratio: 0.9868 / 0.9868;
     height: auto;
     mask: linear-gradient(270deg, #000000 0%, rgb(0, 0, 0) 94.88668355855856%, rgba(0, 0, 0, 0) 100%) add;
     transform: rotate(90deg);

   }


   /* .hero */

   /* presence  block*/
   .presence .presence-wrapper h3 {
     max-width: 100%;
   }

   .marquee-container {
     max-width: 100%;
   }

   /* presence block*/

   /* services block*/
   .card {
     max-width: 100%;
   }

   .card:not(:last-child) {
     margin-bottom: 24px;
   }

   .card:last-child {
     margin-top: 0px;
   }

   /* services block*/

   /* timeless block*/
   .blog-content {
     flex-direction: column;
   }

   .blog-content h4 {
     margin-bottom: 32px;
   }

   .feature-card {
     height: fit-content;
   }

   .feature-section {
     grid-template-columns: 100%;
     grid-column: 3;
   }

   .image-highlight {
     height: auto;
     aspect-ratio: 1 / 1;
   }


   .text-highlight {
     grid-column: 1 / span 1;
   }

   .right-side {
     grid-column: 1;
   }

   .bottom-feature-cards {
     flex-direction: column;
   }

   .stat-card,
   .image-caption-card {
     flex: none;
     height: 198px !important;
   }

   .text-card {
     align-items: flex-start;
     height: auto;
     flex-direction: column; 
     gap: 40px;
   }

   /* timeless block*/

   /* work block*/
   .work-cards .cards-block {
     max-width: 100%;
   }

   /* work block*/

   /* slider-block block*/
   .slider-block .slider-container {
     flex-direction: column-reverse;
   }

   .slider-block .slider-container .left-block {
     max-width: 100%;
   }

   .slider-block .slider-container .slide-img {
     aspect-ratio: 1 / 1.5;
     height: auto;
   }

   .slider-block .slider-container .right-block {
     max-width: 100%;
   }

   .slider-block .slider-container .nav.prev {
     left: 82%;
   }

   .slider-block .slider-container .nav.next {
     right: 7%;
   }

   /* slider-block block*/

   /* work block*/
   .work-cards {
     flex-direction: column;
   }

   .blog .blog-featured .cards-block {
     max-width: 100% !important;
     border-radius: 16px 16px 0 0;
   }

   .blog-featured-content {
     width: 100%;
     max-width: 100%;
     height: fit-content;
     border-radius: 0 0 16px 16px;
   }

   .blog-featured-content .author {
     margin-top: 24px;
   }

   .blog .work-cards .cards-block {
     max-width: 100%;
   }

   .work-cards .cards-block .content-block {
     margin-top: 8px;
   }
   .blog .work-cards .cards-block { 
    aspect-ratio: auto;
}
   .blog .work-cards .cards-block .content-block p.copy-md {
     margin: 0;
   }

   .blog .work-cards .cards-block .img-block img {
     aspect-ratio: 1 / 0.5;
     height: auto;
   }

   /* work block*/

   /* faqs block*/
   .faq-section h2 {
     font-size: 32px;
     font-weight: 500;
     margin-bottom: 10px;
     letter-spacing: -1.92px;
     line-height: 41.6px;
   }

   /* faqs block*/

   /* footer */
   .footer .footer-wrapper .brand-block {
     padding: 64px 0 120px;
   }

   .footer .footer-wrapper .brand-block h2 {
     max-width: 100%;
   }

   .footer .footer-wrapper .last-block .left-block p.copy-lg {
     width: 100%;
   }

   .footer .footer-wrapper .last-block {
     flex-direction: column;
   }

   .footer .footer-wrapper .video-block {
     mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
     top: 46%;
   }
   .footer .footer-wrapper .last-block .right-block {
     justify-content: space-between;
     align-items: self-start;
     flex-direction: column;
     margin-top: 42px;
     width: 100%;
   }

   .footer .footer-wrapper .last-block ul {
     display: flex;
   }

   .footer .footer-wrapper .last-block li:not(:last-child) {
     margin-right: 16px;
   }

   /* footer */
 }